@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  width: 100%;
  padding-left: 20px;
  margin-right: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@media (min-width: 640px) {
  .custom-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .custom-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .custom-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .custom-container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .custom-container {
    max-width: 1320px;
  }
}
